* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.white {
  color: #fff;
}

.list-menu {
  display: inline-block;
}

.call, .find-out {
  background-color: #007bff;
  border-radius: 10px;
  padding: 15px;
  font-size: 14px;
  outline-color: 1px solid #007bff; 
}

footer {
  background-color: #343a40;
  height: 20%;
}