* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Estilos del header*/
.bg-start {
  background: #383e42;
  color: #ffffff;
}

nav {
  padding: 1em 2.2em;
  overflow: auto;
}

a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
}

.icon {
  color: gray;
  font-size: 2em;
}

.icon:hover {
  cursor: pointer;
  color: #ffffff;
}

.first-nav {
  float: left;
}

.second-nav {
  float: right;
}

.hidden-menu {
  display: none;
}

.list-menu {
  display: inline-block;
  margin-right: 1.5em;
}

.list-menu:hover {
  cursor: pointer;
}

.bg-header {
  background-image: url("../assets/images/tech.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.center {
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 5em;
  font-weight: 300;
}

h2 {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0.3em;
}

h3 {
  margin: 0.3em 0.3em 0.3em 0;
}

.layer {
  background: rgba(0, 0, 0, 0.4);
  padding: 11em 0;
}

/*Estilos section*/

.info {
  color: #393939;
  padding: 3em 3.3em 0em 3.3em;
}

.info p {
  line-height: 1.7;
}

.btn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  margin: 1em 0;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.angle {
  margin-left: 0.2em;
}

.call {
  font-size: 18px;
  padding: 0.7em 0.9em;
}


.find-out {
  font-size: 16px;
  padding: 0.6em 0.8em;
}

.division {
  margin-top: 2em;
}

.card {
  border: 1px solid #ABB2B9;
  border-radius: 3px;
}

img {
  width: 100%;
}

.description {
  padding: 1em;
}

.btn-content {
  background: #F2F4F4;
  border-top: 1px solid #ABB2B9;
  padding: 0.09em 1em 0.09em 1em;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  margin-top: 2em;
  padding: 2em;
  text-align: center;
}

/*Estilos Ipad*/
@media (min-width: 768px) {
  section{
    margin: 0 0.3em;
  }

  .layer {
    padding: 6em 0;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
    float: right;
  }

  .container {
    overflow: auto;
    display: flex;
  }

  [class^=col] {
    float: left;
    
  }

  .first-col {
    width: 66.66666667%;
    margin-right: 3em;
    text-align: justify;
  }

  .second-col {
    width: 33.33333333%;
  }

  .third-cols {
    width: 40%;
    
  }

  .col-margin {
    margin-right: 2em;
  }
}

/*Estilos desktop*/
@media (min-width: 1200px) {
  section{
    margin: 0 7em;
  }

  .layer {
    padding: 9em 0;
  }

  .container {
    overflow: auto;
    display: flex;
  }
  
  [class^=col] {
    float: left;
    
  }

  .fourth-cols {
    width: 33.33333333%;   
  }

  .col-margin {
    margin-right: 3em;
  }
}